:root {
    --primary-color: #f8a3cf; /* asosiy rang, masalan, pushti */
    --accent-color: #cb4b88; /* urg‘u rang, masalan, qizil */
    --hover-color: #ffeceb; /* hover rang */
    --background-body: #f8a3cf; /* umumiy fon uchun */
    --nav-background: #fff0eb;
    --footer-background: #fff7f4;
    --text-color: #2b2b2b; /* asosiy matn rangi */
    --link-color: #cb4b88; /* havola ranglari */
    --link-hover-color: #a3326a;
    --button-background: #cb4b88;
    --button-hover-background: #a3326a;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-body);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}
a:hover {
    color: var(--link-hover-color);
}

nav {
    background-color: var(--nav-background);
}

footer {
    background-color: var(--footer-background);
}

.card {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.card:hover {
    background-color: var(--hover-color);
}

button, .btn {
    background-color: var(--button-background);
}
button:hover, .btn:hover {
    background-color: var(--button-hover-background);
}
